In [5]:
from influxdb import InfluxDBClient

In [6]:
db_client = InfluxDBClient(host="127.0.0.1",port=8086, username="atnoguser", password="atnogpass", database='bosch')
query_api = db_client.get_list_measurements()
query_api

[{'name': 'AE_L1'},
 {'name': 'AE_L2'},
 {'name': 'AE_L3'},
 {'name': 'AE_SUM'},
 {'name': 'C_phi_L1'},
 {'name': 'C_phi_L2'},
 {'name': 'C_phi_L3'},
 {'name': 'F'},
 {'name': 'H_TDH_I_L1_N'},
 {'name': 'H_TDH_I_L2_N'},
 {'name': 'H_TDH_I_L3_N'},
 {'name': 'H_TDH_U_L1_N'},
 {'name': 'H_TDH_U_L2_N'},
 {'name': 'H_TDH_U_L3_N'},
 {'name': 'I_L1'},
 {'name': 'I_L2'},
 {'name': 'I_L3'},
 {'name': 'I_SUM'},
 {'name': 'P_L1'},
 {'name': 'P_L2'},
 {'name': 'P_L3'},
 {'name': 'P_SUM'},
 {'name': 'Q_L1'},
 {'name': 'Q_L2'},
 {'name': 'Q_L3'},
 {'name': 'Q_SUM'},
 {'name': 'ReacE_L1'},
 {'name': 'ReacE_L2'},
 {'name': 'ReacE_L3'},
 {'name': 'ReacE_SUM'},
 {'name': 'ReacEc_L1'},
 {'name': 'ReacEc_L2'},
 {'name': 'ReacEc_L3'},
 {'name': 'ReacEc_SUM'},
 {'name': 'ReacEi_L1'},
 {'name': 'ReacEi_L2'},
 {'name': 'ReacEi_L3'},
 {'name': 'ReacEi_SUM'},
 {'name': 'RealE_L1'},
 {'name': 'RealE_L2'},
 {'name': 'RealE_L3'},
 {'name': 'RealE_SUM'},
 {'name': 'RealEc_L1'},
 {'name': 'RealEc_L2'},
 {'name': 'RealEc_L3'},
 {'name': 'RealEc_SUM'},
 {'name': 'RealEd_L1'},
 {'name': 'RealEd_L2'},
 {'name': 'RealEd_L3'},
 {'name': 'RealEd_SUM'},
 {'name': 'Rot_field'},
 {'name': 'S_L1'},
 {'name': 'S_L2'},
 {'name': 'S_L3'},
 {'name': 'S_SUM'},
 {'name': 'U_L1_L2'},
 {'name': 'U_L1_N'},
 {'name': 'U_L2_L3'},
 {'name': 'U_L2_N'},
 {'name': 'U_L3_L1'},
 {'name': 'U_L3_N'},
 {'name': 'l1_n'}]

In [11]:
query = 'Select last(*) from S_SUM'
result = db_client.query(query)
cpu_points = list(result.get_points(measurement='S_SUM'))
cpu_points

[{'time': '2022-05-11T20:58:21.298000Z', 'last_value': 608.75}]

In [12]:
import pandas as pd

query = 'Select * from '
measurement = query_api[0]['name']
result = db_client.query(query + measurement)
cpu_points = list(result.get_points(measurement=measurement))
ds = {'ts': [], 'AE_L1': []}
for res in cpu_points:
    ds['ts'].append(res['time'])
    ds[measurement].append(res['value'])

for i in query_api[1:-1]:
    measurement = i['name']
    result = db_client.query(query + measurement)
    cpu_points = list(result.get_points(measurement=measurement))
    ds[measurement] = [res['value'] for res in cpu_points]

In [12]:
query = 'Select * from '
measurement = 'l1_n'
result = db_client.query(query + measurement)
cpu_points = list(result.get_points(measurement=measurement))
print(cpu_points)

[{'time': '2022-03-31T18:41:49.350000Z', 'thingId': 'org.acme:my-device-1', 'value': 45}, {'time': '2022-03-31T18:41:57.490000Z', 'thingId': 'org.acme:my-device-1', 'value': 47}, {'time': '2022-03-31T18:43:15.083000Z', 'thingId': 'org.acme:my-device-1', 'value': 47}, {'time': '2022-03-31T18:43:23.228000Z', 'thingId': 'org.acme:my-device-1', 'value': 49}, {'time': '2022-03-31T18:49:05.609000Z', 'thingId': 'org.acme:my-device-1', 'value': 49}]

In [13]:
del ds['l1_n']
for i in ds:
    print(i, len(ds[i]))

ts 2371359
AE_L1 2371359
AE_L2 2371359
AE_L3 2371359
AE_SUM 2371359
C_phi_L1 2371359
C_phi_L2 2371359
C_phi_L3 2371359
F 2371359
H_TDH_I_L1_N 2371359
H_TDH_I_L2_N 2371359
H_TDH_I_L3_N 2371359
H_TDH_U_L1_N 2371359
H_TDH_U_L2_N 2371359
H_TDH_U_L3_N 2371359
I_L1 2371359
I_L2 2371359
I_L3 2371359
I_SUM 2371359
P_L1 2371359
P_L2 2371359
P_L3 2371359
P_SUM 2371359
Q_L1 2371359
Q_L2 2371359
Q_L3 2371359
Q_SUM 2371359
ReacE_L1 2371359
ReacE_L2 2371359
ReacE_L3 2371359
ReacE_SUM 2371359
ReacEc_L1 2371359
ReacEc_L2 2371359
ReacEc_L3 2371359
ReacEc_SUM 2371359
ReacEi_L1 2371359
ReacEi_L2 2371359
ReacEi_L3 2371359
ReacEi_SUM 2371359
RealE_L1 2371359
RealE_L2 2371359
RealE_L3 2371359
RealE_SUM 2371359
RealEc_L1 2371359
RealEc_L2 2371359
RealEc_L3 2371359
RealEc_SUM 2371359
RealEd_L1 2371359
RealEd_L2 2371359
RealEd_L3 2371359
RealEd_SUM 2371359
Rot_field 2371359
S_L1 2371359
S_L2 2371359
S_L3 2371359
S_SUM 2371359
U_L1_L2 2371359
U_L1_N 2371359
U_L2_L3 2371359
U_L2_N 2371359
U_L3_L1 2371359
U_L3_N 2371359

In [ ]:
df = pd.DataFrame(ds)
df.head()
df.to_csv('data/influx_data.csv')

In [2]:
import pandas as pd

df = pd.read_csv("data/influx_data.csv", index_col='ts')
df = df.drop('Unnamed: 0', 1)
df.index = pd.to_datetime(df.index).strftime('%Y-%m-%d %H:%M')
df = df.groupby(df.index).mean()
print(df.shape)
df.head()

C:\Users\pedro\AppData\Local\Temp\ipykernel_7464\3775624097.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('Unnamed: 0', 1)

(39556, 61)

,AE_L1,AE_L2,AE_L3,AE_SUM,C_phi_L1,C_phi_L2,C_phi_L3,F,H_TDH_I_L1_N,H_TDH_I_L2_N,...,S_L1,S_L2,S_L3,S_SUM,U_L1_L2,U_L1_N,U_L2_L3,U_L2_N,U_L3_L1,U_L3_N
ts,,,,,,,,,,,,,,,,,,,,,
2022-04-01 14:07,6.739406e+07,6.546445e+07,6.548412e+07,1.983427e+08,0.981481,0.990741,0.974444,50.004444,40.217407,42.616296,...,46674.261481,44711.247778,43220.680000,134606.188889,411.943704,236.567778,411.265926,237.830370,409.046667,237.053704
2022-04-01 14:08,6.739474e+07,6.546511e+07,6.548475e+07,1.983447e+08,0.981724,0.990000,0.979655,49.985172,38.851034,40.338621,...,49755.423793,48143.972759,46802.121724,144701.519310,411.506897,236.366897,410.530690,237.554483,408.882069,236.757931
2022-04-14 09:45,7.643616e+07,7.419940e+07,7.384993e+07,2.244856e+08,0.000000,0.000000,0.984375,49.996875,100.000000,100.000000,...,0.000000,0.000000,237.923125,237.923125,413.561875,238.624375,414.730000,239.138750,413.336250,239.093125
2022-04-14 09:46,7.643616e+07,7.419940e+07,7.384993e+07,2.244856e+08,0.000000,0.000000,0.835667,50.007333,100.000000,100.000000,...,0.000000,0.000000,198.608667,198.608667,413.586500,238.393833,414.269500,239.097000,412.915167,238.872667
2022-04-14 09:47,7.643616e+07,7.419940e+07,7.384994e+07,2.244856e+08,0.000000,0.000000,0.819000,50.000000,100.000000,100.000000,...,0.000000,0.000000,190.086500,190.086500,413.678500,238.487833,414.241667,239.089500,413.097500,238.928000

In [4]:
df = df.iloc[2: , :]
df.to_csv('data/influx_data_filtered.csv')

In [6]:
df.shape

(2371359, 62)

In [5]:
df = pd.read_csv("data/influx_data.csv", index_col='ts')

TypeError: 'tuple' object is not callable

In [24]:
from settings import INPUT_FILE
import pandas as pd
df = pd.read_csv(INPUT_FILE, index_col='ts')
#df = df.drop('Unnamed: 0', 1)
df.index = pd.to_datetime(df.index)

In [26]:
df.head()

,S_SUM,I_SUM,H_TDH_I_L3_N,U_L3_L1,H_TDH_I_L1_N,C_phi_L1,P_L2,P_L1,P_L3,ReacEc_L1,...,ReacE_L1,RealE_SUM,AE_SUM,S_L3,H_TDH_U_L3_N,S_L2,S_L1,H_TDH_U_L1_N,U_L1_N,ReacE_SUM
ts,,,,,,,,,,,,,,,,,,,,,
2022-04-01 21:58:00,149017.136923,1.085000,46.546923,412.949231,42.878462,0.975385,44133.665769,45966.841923,42012.821154,112.3,...,1.234986e+07,1.754653e+08,1.993511e+08,48115.199231,6.676538,49344.557692,51557.376923,6.310769,238.767692,3.648182e+07
2022-04-01 21:59:00,149258.717000,1.074167,46.591833,412.805500,43.020500,0.972500,44455.749000,45921.133167,41803.113667,112.3,...,1.234998e+07,1.754669e+08,1.993529e+08,47922.080333,6.806667,49689.813667,51646.820500,6.419500,238.725167,3.648217e+07
2022-04-01 22:00:00,127528.309333,0.915500,56.362500,412.796833,49.680833,0.968667,36472.175333,38625.150333,34207.254000,112.3,...,1.235016e+07,1.754690e+08,1.993553e+08,40971.901333,6.544333,41996.666833,44559.741000,6.178500,238.692167,3.648264e+07
2022-04-01 22:01:00,111254.214167,0.802778,64.105000,412.316667,54.510833,0.967500,29998.746944,33447.270000,28162.318611,112.3,...,1.235028e+07,1.754703e+08,1.993568e+08,35782.956944,6.317222,35883.705000,39587.552500,5.895278,238.407222,3.648296e+07
2022-04-01 22:03:00,128511.155000,0.917500,55.588333,411.468333,47.931667,0.975833,35287.885833,39903.917500,34497.498333,112.3,...,1.235068e+07,1.754742e+08,1.993616e+08,41900.250000,6.856667,41042.385833,45568.519167,6.400000,237.972500,3.648399e+07